app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.jsonstage_two/terraform/.terraform/providers/registry.terraform.io/hashicorp/google/6.8.0/linux_amd64/terraform-provider-google_v6.8.0_x5
